{%extends 'base.html'%}
{% load static %}

{%block contents%}
<div id="site_content">
    <ul id="images">
        <li><img src="{%static 'images/1.jpg'%}" width="600" height="300" alt="seascape_one"/></li>
        <li><img src="{%static 'images/2.jpg'%}" width="600" height="300" alt="seascape_two"/></li>
        <li><img src="{%static 'images/3.jpg'%}" width="600" height="300" alt="seascape_three"/></li>
        <li><img src="{%static 'images/4.jpg'%}" width="600" height="300" alt="seascape_four"/></li>
        <li><img src="{%static 'images/5.jpg'%}" width="600" height="300" alt="seascape_five"/></li>
        <li><img src="{%static 'images/6.jpg'%}" width="600" height="300" alt="seascape_seascape"/></li>
    </ul>

    <div class="content">
        <center>
            <h1>Quick response (QR) codes</h1>
            <div class="col-md-7">
                <h2>Scan the QR Code and enter Graphical Password</h2>
                <p>
                <form action="{%url 'qrcodecheck'%}" method="post">
                    {% csrf_token %}
                    <input type="text" name="data" id="data" placeholder="Enter your QR Code">
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>

                <div class="qr-img">
                    {% if img_name %}
                    <img src="/media/{{ img_name }}" alt="qr code">
                    {% endif %}
                </div>
                </p>
        </center>
    </div>
</div>
</div>
{%endblock%}
